In [36]:
import pandas as pd
from scipy import stats

Costomer = pd.read_csv("C:/Users/Swetha/Downloads/CostomerOrderForm.csv")

In [37]:
Costomer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [38]:
Costomer.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [39]:
Phillippines_value = Costomer['Phillippines'].value_counts()
Indonesia_value = Costomer['Indonesia'].value_counts()
Malta_value = Costomer['Malta'].value_counts()
India_value = Costomer['India'].value_counts()

In [40]:
print(Phillippines_value)
print(Indonesia_value)
print(Malta_value)
print(India_value)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [41]:
stats.chi2_contingency([[271,267,269,280], [29,33,31,20]])

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [42]:
## #### Assume Null Hypothesis (Ho): variables are related
## Alternate Hypothesis (Ha):  variables are not related
## Interferences (p value = 0.2771020991233135) > (α =  0.05)
## Accept null hypothesis(Ho) and Reject Alternate Hypothesis(Ha) and 
## (Inference is that proportion of defective % across the center is same.)